.product-card {
    background: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #e4e4e4;
    max-width: 800px;
}
.product-card .media {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}
.product-card .desc {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.product-card .quantity {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}
.product-card .quantity .amt {
    background: #ff9017;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}